* {
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

#chosen, #design, #coding, #reflect, #ref-imgs {
    scroll-margin-top: 110px;
}

/*
.grid{
    width:1000px;
    margin:0 auto 0 auto;
    display:grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    "nav nav"
    "head head"
    "sidebar content"
    "sidebar footer";
    gap: 0;
}*/

nav {
    grid-area: nav;
    background-color: lightgrey;
    display:block;
    height: 100px;
    width:(vw);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 50px;
    overflow: hidden;
}

nav ul li {
    list-style: none;
    display:block;
    float:left;
    line-height: 100px;
}

nav ul li a {
    color:black;
    text-decoration: none;
    display:block;
    padding:0 20px;
    font-family: sans-serif;
}

nav ul li a:hover, .current {
    background-color: black;
    color:lightgrey;
}

header {
    grid-area:head;
    margin-bottom: 10px;
}

\\Tablet 



.grid{
    width:1000px;
    margin:0 auto 0 auto;
    display:grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    "nav nav"
    "head head"
    "content content"
    "footer footer";
    gap: 0;
}

.menu {
    background-color: transparent;
    position: fixed;
    width: 50px;
    margin-left: 5px;
    z-index: 100000;
    top: 110px;
}

.menu button {
    all: unset;
    display: block-inline;
}

.ord-idea {
	font-size: 20px;
}

.refs a {
	text-decoration:none;
	color: black;
}

.refs a:hover {
	background-color: rgba(0,0,0,.5);
	border-radius: 5px;
}

hr {
    margin: 10px;
}

.count-btn {
    display: block;
    border: none;
    background-color: lightgrey;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
    width:200px;
    overflow: hidden;
    text-decoration: none;
    margin: auto;
}

.cta h4 {
    font-size: 20px;
}

.head-title {
    height: 500px;
    background-color: #d9d9d9;
    position: relative;
    border-radius: 50px;
}


.head-title::after {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: rgba(255,255,255,.8);
    text-align: center;
    height: 100px;
    width: 0%;
    overflow: hidden;
    border-right: 5px solid black;
    animation: typing 3s steps(20, end) forwards;
}

@keyframes typing {
    0% {
        width: 0%;
    }
    50%{
        border-right: 5px solid black; 
    }
    90% {
        border: none;
    }
    100% {
        border: none;
        width: 100%;
    }
}

h2 {
    font-family: helvetica;
}

#brief {
    font-size: 1em;
}

.keywords {
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    grid-template-areas:
    "Eday-iss Eday-def"
    "Imp-Elim Imp-def"
    "Embed-sys Embed-def"
    "Func-prog Func-def";
}

.keywords p {
    display: inline;
}

#Eday-iss {
    grid-area: Eday-iss;
    margin: auto;
}

#Eday-def {
    grid-area: Eday-def;
    line-height: 1.4em;
}

#Imp-Elim {
    grid-area: Imp-Elim;
    margin: auto;
}

#Imp-def {
    grid-area: Imp-def;
    line-height: 1.4em;
}

#Embed-sys {
    grid-area: Embed-sys;
    margin: auto;
}

#Embed-def {
    grid-area: Embed-def;
    line-height: 1.4em;
}

#Func-prog {
    grid-area: Func-prog;
    margin: auto;
}

#Func-def {
    grid-area: Func-def;
    line-height: 1.4em;
}

.aims{
    background-color: rgba(210,255,255,.2);
    padding: 1em 2em 1.5em;
    box-shadow: 10px 10px rgba(0,0,0,.7);
    border-radius: 20px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    scroll-margin-top: 110px;
}

.aims h1, .learn h1 {
    font-size: 40px;
    font-family: Helvetica;
    padding:10px;
    text-align: center;
}

.intro h1 {
    text-align: center;
}

.aims ul li {
    padding: 1.75em;
}

.aims p, .learn p {
    font-family: Arial;
    font-size: 18px;
    line-height: 1.5em;
}

.learn {
    margin-top: 20px;
    scroll-margin-top: 110px;
    padding: 10px;
}

ol p {
    padding-left: 20px;
    line-height: 2em;
}

ol {
    padding-left: 1em;
}

table {
    width: 100%;
}

table, td, tr, th {
    border: 2px solid grey;
	border-radius: 5px;
}

table td {
    width: 50%;
    place-items: center;
}

table td p {
    margin: 5px 10px;
}

table img {
    width: 39%;
}

.long-img {
    width: 59%;
}

aside {
    margin-right: 5px;
    top:100px;
    height:calc(100vh - 140px);
    position: fixed;
    align-self:start;
    grid-area:sidebar;
    background-color: aliceblue;
    border-radius: 50px;
    padding: 20px;
    display:flex;
    flex-flow:wrap;
    justify-content: center;
    align-content: flex-start;
    z-index: 1001;
    width: 300px;
    left: -340px;
    transition: left .3s ease-in-out;
}

aside.show{
    left: 0;
}

aside.show ~ #overlay {
    display: block;
}

#overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1000;
    inset: 0;
    display: none;
}

.home-page {
    padding: 10px;
    display:flex;
    flex-flow:wrap;
    justify-content: center;
}

aside h2 {
    font-family:sans-serif;
    padding: 5px;
}

.home-page h2 {
    font-family:sans-serif;
    padding: 5px;
}

.home-page ul {
    list-style: none;
}

.home-page ul li {
    margin: 5px;
}

.home-page button {
    display: block;
    border: none;
    background-color: aqua;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
    width:200px;
    overflow: hidden;
    text-decoration: none;
    transition: .5s ease;
    margin: auto;
}

.home-page button:hover {
    background-color: aquamarine;
    width: 175px;
    border-radius: 25px;
}

.home-page a {
    text-decoration: none;
}

.home-page h3 {
    text-decoration: none;
}

.cta {
    margin-top: 30px;
}

.cta button {
    display: block;
    border: none;
    background-color: rgba(62%,100%,58%,.3);
    border-radius: 30px;
    height: 60px;
    padding: 10px;
    width:200px;
    text-decoration: none;
    transition: .5s ease;
}

.cta button:hover {
    background-color: rgba(62%,100%,58%,.8);;
    width: 175px;
}

.cta a {
    text-decoration: none;
}

.cta h3 {
    font-size: 25px;
}

main {
    grid-area:content;
    background-color: #E9E9E9;
    border-radius: 50px;
    padding:20px;
    margin-left: 5px;
    min-height: calc(100vh - 600px);
}

.intro {
    scroll-margin-top: 110px;
}

.intro h1 {
    font-size: 50px;
    font-family: Helvetica;
}

.intro p {
    padding: 10px 0 0 0;
    font-size: 20px;
    font-family: arial;
    line-height: 22px;
}

.intro {
    padding:10px;
}

.circuits{
    background-color: rgba(62%,100%,58%,.2);
    padding:5px 5px 10px;
    width:100%;
    border-radius: 20px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    scroll-margin-top: 110px;
}

.circuits h1{
    font-size: 50px;
    font-family: Helvetica;
    padding:10px;
    flex-basis: 100%;
    text-align: center;
}

.circ {
    width:300px;
    background-color: white;
    padding:10px;
    border-radius: 20px;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    float: var(--data-pos);
}

.circ img {
    width:300px;
    border-radius: 20px;
    padding:0 0 10px 0;
}

.circ h2 {
    order:-1;
    padding:0 0 5px;
    font-family:sans-serif;
}

.circ p {
    font-family: Arial;
    font-size: 18px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    animation: circ-p forwards;
    animation-timeline: view();
}

@keyframes circ-p {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 100px;
    }
  
}

.components{
    padding:10px;
    display:flex;
    flex-flow: wrap;
    justify-content: center;
    scroll-margin-top: 110px;
}

.components h1{
    font-size: 50px;
    font-family: Helvetica;
    padding:10px;
}

.comp-stl1 {
    height:200px;
    background-color: azure;
    padding:20px;
    border-radius: 20px;
    display:flex;
    flex-flow: row ;
    width: fit-content;
    overflow: hidden;
    align-items: center;
    margin: 10px 0;
}

.comp-stl1 img {
    height:200px;
    border-radius: 50%;
    order: var(--img-ord);
}

.descript1 {
    padding: 10px;
    display: flex;
    flex-flow: wrap;
    gap: 10px;
    width: fit-content;
    justify-content: var(--text-just);
}

.descript1 .comp {
    padding:0;
    max-height:0;
    overflow: hidden;
    opacity: 0;
    animation: components forwards;
    animation-timeline: view();
}

.descript1 p {
    padding: 0;
}

@keyframes components {
    from {
        max-height:0;
        opacity: 0;
    }
    to {
        max-height: 50px;
        opacity:1;
    }
}

footer {
    grid-area: footer;
    padding:20px;
    background-color: black;
    display: flex;
    flex-flow: wrap;
    border-radius: 50px;
    justify-content: space-around;
    margin-left: 5px;
    margin-top: 10px;
    align-items: center;
}

.docs {
    width: 250px;
    display: flex;
    flex-flow: wrap;
    padding: 10px;
    justify-content: center;
}

.docs p {
    color:white;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 10px;
}


.container {
    display: flex;
    gap:20px;
    justify-content: center;
}

.container a {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.05);
    position: relative;
}

.container a svg {
    height:32px;
    fill:black;
}

.container a::before {
    content:attr(data-social);
    position: absolute;
    transform: translateY(-30px) rotate(25deg);
    background-color: var(--accent-color);
    color: white;
    padding: .5em 1em;
    border-radius: 100px;
    opacity: 0;
    transition: all .3s cubic-bezier(.42,0,.25,1.83);
}

.container a:hover {
    background-color: var(--accent-color);
    fill: white;
    border: solid 2px white;
}

.container a::after {
    content:"";
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(-10px) rotate(25deg);
    opacity: 0;
    transition: all .3s cubic-bezier(.42,0,.25,1.83);
}

.container a:hover::before {
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}

.container a:hover::after {
    transform: translateY(-45px) rotate(0);
    opacity: 1;
}

.author {
    padding-right: 30px;
}

.author p {
    color:white;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 27px;
}

@media only screen and (min-width:1000px) {

    .grid{
        width:1000px;
        margin:0 auto 0 auto;
        display:grid;
        grid-template-columns: 300px 1fr;
        grid-template-areas:
        "nav nav"
        "head head"
        "sidebar content"
        "sidebar footer";
        gap: 0;
        }

    .menu {
        display: none;
    }

    aside {
        position: sticky;
        left: 0;
        width: auto;
    }

    .circ p {
      transition: opacity 2s , max-height 1.5s ease-out;
      animation: none;
    }

    .circ:hover p {
      opacity: 1;
      max-height: 100px; /* Ensure this value is enough to show the full paragraph */
    }

    .descript1 .comp {
        animation: none;
        transition: max-height 1.5s ease, opacity 1.5s ease;
    }

    .comp-stl1:hover .descript1 .comp{
        max-height: 50px;
        opacity:1;
        transition: max-height 1.5s ease, opacity 1.5s ease;
    }

}